.idea
/dist
/target
CHANGELOG.md
dummy.go
komorebic/applications.yaml
komorebic/applications.json
/.vs
/bar-schema
/komorebi-schema
/.wrangler
/.xwin-cache
result
/.direnv
procdump.exe
errors.txt
full_errors.txt
komorebi_trace_err.log
komorebi_trace.log
new_state.txt
new_state2.txt
komorebi/errors.txt
build_errors.txt
BRANCHES.md
.claude/settings.local.json
